<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-5">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <img src="https://www.nestdigital.com/images/logo.svg" height="40" alt="">  
                        <h1 class="text-dark">EMPLOYEE LOGIN</h1>
                    </div>
                    <div class="row mt-5 g-3">
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label text-dark">Username</label>
                            <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="username">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                            <label for="" class="form-label text-dark">Password</label>
                            <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="password">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-4 d-flex justify-content-center mt-5">
                            <button class="btn btn-success p-2 mx-3" (click)="readValues()">LOGIN</button>
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-4 d-flex justify-content-center mt-5">
                            <button class="p-2 btn btn-outline-success mx-3" routerLink="/securityLogin">Security Login</button>
                            <button class="p-2 btn btn-outline-success mx-3" routerLink="/">Admin Login</button>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-5 d-flex justify-content-center">
                    <img height="400px" src='https://img.freepik.com/free-vector/colleagues-working-together-project_74855-6308.jpg?w=1060&t=st=1671124718~exp=1671125318~hmac=2b4f3acbbea4aae21ab249da0c78bfb85abf8135f643ebfbc82414bdcf25f529' alt="">
                </div>
            </div>
        </div>
    </div>
</div>
