<app-admin-nav-bar></app-admin-nav-bar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-5">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-5">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                        <img src="https://www.nestdigital.com/images/logo.svg" height="40" alt="">  
                        <h1 class="text-dark">EDIT EMPLOYEE</h1>
                    </div>
                    <div class="row mt-5">
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-4">
                            <label for="" class="form-label text-secondary">Employee Code</label>
                            <input type="text" class="form-control" name="empCode" [(ngModel)]="empCode" placeholder="employee code" value="{{empCode}}">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-4">
                            <label for="" class="form-label text-secondary">Employee Name</label>
                            <input type="text" class="form-control" name="empName" [(ngModel)]="empName" placeholder="name" value="{{empName}}">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-4">
                            <label for="" class="form-label text-secondary">Employee email</label>
                            <input type="text" class="form-control" name="empEmail" [(ngModel)]="empEmail" placeholder="email" value="{{empEmail}}">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-4">
                            <label for="" class="form-label text-secondary">Employee phone</label>
                            <input type="text" class="form-control" name="empPhone" [(ngModel)]="empPhone" placeholder="phone" value="{{empPhone}}">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-4">
                            <label for="" class="form-label text-secondary">Employee Designation</label>
                            <input type="text" class="form-control" name="empDesignation" [(ngModel)]="empDesignation" placeholder="designation" value="{{empDesignation}}">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-4">
                            <label for="" class="form-label text-secondary">Username</label>
                            <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="username" value="{{username}}">
                        </div>
                        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-4 d-flex justify-content-center mt-5">
                            <button class="btn btn-warning p-2 mx-3" (click)="readValues()">EDIT</button>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-5 d-flex justify-content-center">
                    <img height="400px" src='https://img.freepik.com/premium-vector/blogging-blogger-freelance-creative-writing-copy-writer-content-management-flat-cartoon-miniature-illustration_1212-1243.jpg?size=338&ext=jpg&ga=GA1.2.590903760.1669795998&semt=sph' alt="">
                </div>
            </div>
        </div>    
    </div>
</div>
